body {
  background-color: #ffe2e2;
}
h1
{
  color:#30475e ;
  font-style: italic;
}
h4{
  color: black;
  font-style: italic;
}
h2{
  color: #7e8a97;
  font-style:oblique;
}
h3{
  color: #84a9ac;
  font-style: italic;
}
p{
  font-size: 20px;

}
em{
  font-size: 20px;
}
hr {
 border-style: none;
 border-top-style: dotted;
 border-color: grey;
 border-width: 5px;
 width: 7%;
 }
